<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDl_W1tZNco_wkAF0ReOYZsH7fdXxeBQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>694264652054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridgitcampus.app</string>
	<key>PROJECT_ID</key>
	<string>run-it-febca</string>
	<key>STORAGE_BUCKET</key>
	<string>run-it-febca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694264652054:ios:19be81cfddefc27c1f7037</string>
</dict>
</plist>